In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
DATA_PATH = r'../data'

In [5]:
dfPlayerMatch = pd.read_csv(os.path.join(DATA_PATH, 'dataset_player_match_season_2017_2018_featuresextracted.csv'))

In [7]:
dfPlayerMarks = pd.read_csv(os.path.join(DATA_PATH, 'final_df_season_2017_2018.csv'))

In [8]:
dfPlayerMatch.rename(columns={'gameweek':'match_day'}, inplace=True)

In [9]:
dfPlayerMarks.rename(columns={'wy_IDS': 'player_id'}, inplace=True)

In [10]:
len(dfPlayerMarks)

8328

In [11]:
len(dfPlayerMatch)

10573

In [12]:
df = pd.merge(dfPlayerMatch, dfPlayerMarks, on=['player_id', 'match_day'])

In [13]:
df

,match_id,match_day,team_id,player_id,minutes_played,red_card,yellow_card,goals,total_passes,completed_passes,...,player_name_newspaper,player_role_newspaper,gazzetta_score,corriere_score,tuttosport_score,match_day_newspaper,match_day_fanta,player_name_fantacalcio,player_role_fantacalcio,fantacalcio_score
0,2576335,38,3162,21384,75,0,0,0,16,14,...,IMMOBILE C,A,6.0,6.0,5.5,38,38,IMMOBILE,A,6.0
1,2576335,38,3162,20550,77,0,0,0,26,22,...,RADU S,D,6.5,6.0,5.5,38,38,RADU,D,6.0
2,2576335,38,3162,130,83,0,0,0,21,19,...,DE VRIJ S,D,5.5,4.0,5.0,38,38,DE VRIJ,D,5.0
3,2576335,38,3162,376362,90,0,1,0,32,25,...,LUIZ FELIPE R,D,5.0,5.5,5.0,38,38,LUIZ FELIPE,D,5.5
4,2576335,38,3162,166534,90,0,1,0,20,16,...,STRAKOSHA T,P,6.0,5.5,5.0,38,38,STRAKOSHA,P,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7916,2575964,1,3173,220359,90,0,0,0,26,19,...,FARAGÃ’ P,C,5.0,5.5,5.0,1,1,FARIAS,A,4.5
7917,2575964,1,3173,220359,90,0,0,0,26,19,...,FARIAS D,A,6.0,5.0,4.5,1,1,FARAGO',C,5.0
7918,2575964,1,3173,220359,90,0,0,0,26,19,...,FARIAS D,A,6.0,5.0,4.5,1,1,FARIAS,A,4.5
7919,2575964,1,3173,50073,90,0,0,0,34,26,...,IONITA A,C,5.0,5.5,5.0,1,1,IONITA,C,5.5
7920,2575964,1,3173,116171,27,0,0,0,10,6,...,JOAO PEDRO,C,5.0,5.5,5.0,1,1,JOAO PEDRO,C,5.5

In [14]:
dfPlayerRanks = pd.read_csv(os.path.join(DATA_PATH, 'player_rank_score_2017_2018.csv'))

In [15]:
dfPlayerRanks.head()
del dfPlayerRanks['minutesPlayed']
del dfPlayerRanks['goalScored']
del dfPlayerRanks['timestamp']
del dfPlayerRanks['team']
del dfPlayerRanks['playerankScore']
del dfPlayerRanks['roleCluster']

In [16]:
dfPlayerRanks.rename(columns={'entity': 'player_id', 'match': 'match_id'}, inplace=True)

In [17]:
dfPlayerRanks

,match_id,player_id,ratings,ratings_3,ratings_5,ratings_7,ratings_9,ratings_total_alpha
0,2576335,21384,0.004238,0.016165,0.036980,0.082520,0.249142,0.540644
1,2576335,37745,0.003959,0.015102,0.034549,0.077096,0.232767,0.523979
2,2576335,20550,0.004123,0.015725,0.035974,0.080276,0.242369,0.533751
3,2576335,208865,0.004023,0.015345,0.035104,0.078335,0.236507,0.527785
4,2576335,130,0.004476,0.017073,0.039059,0.087160,0.263152,0.554902
...,...,...,...,...,...,...,...,...
15078,2575964,20874,0.004278,0.016318,0.037331,0.083305,0.251513,0.543058
15079,2575964,21639,0.004278,0.016318,0.037331,0.083305,0.251513,0.543058
15080,2575964,283832,0.004278,0.016318,0.037331,0.083305,0.251513,0.543058
15081,2575964,21959,0.004278,0.016318,0.037331,0.083305,0.251513,0.543058
15082,2575964,0,0.005064,0.019318,0.044193,0.098616,0.297740,0.590103

In [18]:
df = pd.merge(df, dfPlayerRanks, on=['player_id', 'match_id'], how = 'left')

In [19]:
df

,match_id,match_day,team_id,player_id,minutes_played,red_card,yellow_card,goals,total_passes,completed_passes,...,match_day_fanta,player_name_fantacalcio,player_role_fantacalcio,fantacalcio_score,ratings,ratings_3,ratings_5,ratings_7,ratings_9,ratings_total_alpha
0,2576335,38,3162,21384,75,0,0,0,16,14,...,38,IMMOBILE,A,6.0,0.004238,0.016165,0.036980,0.082520,0.249142,0.540644
1,2576335,38,3162,20550,77,0,0,0,26,22,...,38,RADU,D,6.0,0.004123,0.015725,0.035974,0.080276,0.242369,0.533751
2,2576335,38,3162,130,83,0,0,0,21,19,...,38,DE VRIJ,D,5.0,0.004476,0.017073,0.039059,0.087160,0.263152,0.554902
3,2576335,38,3162,376362,90,0,1,0,32,25,...,38,LUIZ FELIPE,D,5.5,0.004183,0.015955,0.036499,0.081448,0.245907,0.537352
4,2576335,38,3162,166534,90,0,1,0,20,16,...,38,STRAKOSHA,P,5.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7916,2575964,1,3173,220359,90,0,0,0,26,19,...,1,FARIAS,A,4.5,0.003594,0.013709,0.031363,0.069986,0.211299,0.502132
7917,2575964,1,3173,220359,90,0,0,0,26,19,...,1,FARAGO',C,5.0,0.003594,0.013709,0.031363,0.069986,0.211299,0.502132
7918,2575964,1,3173,220359,90,0,0,0,26,19,...,1,FARIAS,A,4.5,0.003594,0.013709,0.031363,0.069986,0.211299,0.502132
7919,2575964,1,3173,50073,90,0,0,0,34,26,...,1,IONITA,C,5.5,0.004112,0.015686,0.035885,0.080078,0.241769,0.533141
7920,2575964,1,3173,116171,27,0,0,0,10,6,...,1,JOAO PEDRO,C,5.5,0.003759,0.014338,0.032802,0.073197,0.220995,0.511999

In [20]:
df.to_csv(os.path.join(DATA_PATH,'for_the_model_2017_2018.csv'), index=False)